* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background: #f5f5f5;
}

.box {
    width: 1250px;
    margin: 50px auto;
    position: relative;
}

.left {
    position: absolute;
    left: 0px;
    top: 30px;
    margin-right: 15px;
    width: 235px;
    height: 315px;
    background: #f1eded;
}

.left img {
    width: 100%;
    height: 100%;
}

.right {
    position: absolute;
    left: 250px;
    top: 0px;
    height: 350px;
    width: 1000px;
    /* background: green; */
}

.slider {
    position: relative;
    width: 100%px;
    height: 340px;
    overflow: hidden;
    /* border: 1px solid #000; */
}

.slider-list {
    position: relative;
    top: 30px;
    height: 340px;
    width: 10000px;
    background: #f5f5f5;
}

.slider-list .slider-list-item {
    width: 235px;
    margin-right: 15px;
    height: 339px;
    border-top: 1px solid orangered;
    float: left;
    text-align: center;
    background: #fff;
}

.slider-list .slider-list-item img {
    width: 160px;
    height: 160px;
    margin: 25px 40px;
}

.title {
    margin: 0 20px 3px;
    font-size: 14px;
    font-weight: 400;
    text-overflow: ellipsis;
    color: #212121;
    overflow: hidden;
    white-space: nowrap;
}

.desc {
    height: 18px;
    margin: 0 20px 12px;
    font-size: 12px;
    text-overflow: ellipsis;
    color: #b0b0b0;
    overflow: hidden;
    white-space: nowrap;
}

.price {
    margin: 0;
    color: #ff6709;
}

.price del {
    color: #b0b0b0;
}

.swiper-controls {
    position: absolute;
    right: 15px;
}

.swiper-controls span {
    width: 33px;
    height: 24px;
    display: inline-block;
    border: 1px solid #ccc;
    text-align: center;
    margin: 0px
}

span {
    user-select: none;
}

span:hover {
    color: orange
}